/* Universal styles */
:root {
  --txt-size-xs: 0.5rem;
  --txt-size-sm: 0.75rem;
  --txt-size-md: 1rem;
  --txt-size-lg: 1.1rem;
  --txt-size-xl: 1.2rem;
  --txt-size-xxl: 1.3rem;
  --display-size-xs: 1.5rem;
  --display-size-sm: 1.8rem;
  --display-size-md: 2rem;
  --display-size-lg: 2.5rem;
  --display-size-xl: 3.5rem;
  --display-size-xxl: 4rem;

  --font-size: 1.6rem;
  --color-main25: #fffdfc;
  --color-main50: #fff9f8;
  --color-main100: #fff2e8;
  --color-main200: #ffe0c8;
  --color-main300: #f0c29d;
  --color-main400: #e3a979;
  --color-main500: #eb9b69;
  --color-main600: #e38c55;
  --color-main700: #ed7752;
  --color-main800: #cb5d39;
  --color-main900: #c03b0f;
  --text-color: #252628;
  --color-success25: #F6FEF9;
  --color-success50: #ECFDF3;
  --color-success100: #D1FADF;
  --color-success200: #A6F4C5;
  --color-success300: #a4ceb9;
  --color-success400: #32D583;
  --color-success500: #12B76A;
  --color-success600: #039855;
  --color-success700: #027A48;
  --color-success800: #05603A;
  --color-success900: #054F31;
  --color-error25: #FFFBFA;
  --color-error50: #FEF3F2;
  --color-error100: #FEE4E2;
  --color-error200: #FECDCA;
  --color-error300: #c03b0f;
  --color-error400: #F97066;
  --color-error500: #F04438;
  --color-error600: #D92D20;
  --color-error700: #B42318;
  --color-error800: #912018;
  --color-error900: #7A271A;
  --color-warning25: #FFFCF5;
  --color-warning50: #FFFAEB;
  --color-warning100: #FEF0C7;
  --color-warning200: #FEDF89;
  --color-warning300: #FEC84B;
  --color-warning400: #FDB022;
  --color-warning500: #F79009;
  --color-warning600: #DC6803;
  --color-warning700: #B54708;
  --color-warning800: #93370D;
  --color-warning900: #7A2E0E;
  --color-info25: #f6f9ff;
  --color-info50: #edf3ff;
  --color-info100: #dde8ff;
  --color-info200: #bdd0ff;
  --color-info300: #9cb8ff;
  --color-info400: #7ca0ff;
  --color-info500: #5c88ff;
  --color-info600: #3d70ff;
  --color-info700: #1e58ff;
  --color-info800: #0040ff;
  --color-info900: #0026e6;
  --color-grey25: #FCFCFD;
  --color-grey50: #F9FAFB;
  --color-grey100: #F2F4F7;
  --color-grey200: #EAECF0;
  --color-grey300: #D0D5DD;
  --color-grey400: #98A2B3;
  --color-grey500: #667085;
  --color-grey600: #475467;
  --color-grey700: #344054;
  --color-grey800: #1D2939;
  --color-grey900: #101828;
  --color-greengrey: #a4bcc0;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: #ffffff00;
  --color-shadow: #0000001a;
  --color-shadow-dark: #00000033;
  --color-shadow-darker: #0000004d;
  --color-shadow-darkest: #00000066;
  --color-shadow-light: #0000000d;
  --color-shadow-lighter: #0000001a;
  --color-shadow-lightest: #00000033;
  --color-shadow-white: #ffffff1a;

  --header-height: 5rem;
  --footer-height: 3rem;

  --padding-sm: 1rem;
  --padding-md: 2rem;
  --padding-lg: 3rem;
  --padding-xl: 4rem;
  --padding-xxl: 5rem;

}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-grey100);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: var(--color-grey300);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--color-grey300);
  border-radius: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  max-width: 100vw;
  gap: 0px;
  margin: 0px;
}

/*set the font family for the title*/
h1 {
  font-size: var(--display-size-xl);
  font-weight: 500;
  margin: 1rem;
}

/*set the font family for the heading*/
h2 {
  font-family: "Circular", sans-serif;
  font-size: var(--display-size-lg);
  font-weight: 600;
  margin: 0.5rem;
}

h3 {
  font-family: "Circular", "Inter", sans-serif;
  font-size: var(--display-size-md);
  font-weight: 600;
  margin: 0%;
}

h4 {
  font-family: "Circular", sans-serif;
  font-size: var(--display-size-sm);
  font-weight: 600;
}

h5 {
  font-family: "Circular", "Inter", sans-serif;
  font-size: var(--display-size-xs);
  font-weight: 600;
  margin: 0px;
}

h6 {
  font-family: "Circular", sans-serif;
  font-size: var(--txt-size-xl);
  font-weight: 600;
  color: var(--color-main700);
  background-image: url("../img/kyvos-emblem2.svg");
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p {
  font-size: var(--txt-size-md);
  line-height: 30px;
  padding: 0px;
  margin: 0px;
}

.quote {
  font-style: italic;
  color: var(--color-grey400);
}

/* Form, input and labels */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

label {
  display: flex;
  font-size: var(--txt-size-sm);
  font-weight: 500;
  color: var(--color-grey600);
  text-align: left;
  width: 100%;
  padding-top: 0.8rem;
  padding-bottom: 0.2rem;
}

input,
textarea {
  display: flex;
  padding: 0.6rem;
  border: 0.1rem solid var(--color-grey200);
  border-radius: 0.5rem;
  font-size: var(--txt-size-sm);
  color: var(--color-grey700);
  background-color: var(--color-white);
  box-shadow: 0px 1px 2px var(--color-grey200);
  min-width: 15rem;
  max-width: 100%;
  align-self: flex-start;
}

textarea {
  height: 8rem;
  width: 90%;
}

input::placeholder {
  color: var(--color-grey200);
}

.input-description {
  display: none;
  font-size: var(--txt-size-xs);
  line-height: 1rem;
  font-weight: 100;
  color: var(--color-grey400);
  text-align: left;
  padding: 0rem 0rem;
  flex-wrap: wrap;
  text-align: left;
}

.input-description::before {
  content: "⚠";
  color: var(--color-main600);
  margin-right: 0.2rem;
}

textarea:focus-visible,
input:focus-visible {
  outline: none;
  border: 0.1rem solid var(--color-main500);
}

input:invalid+.input-description {
  display: block;
}

input:valid+.input-description {
  display: none;
}

label[required]:after {
  content: "*";
}

label[required]+input[required]:invalid:after {
  color: var(--color-error500);
}

/* Images */
.linkedin-icon:hover path {
  fill: #0a66c2 !important;
}

#img-accueil {
  width: 100%;
}

#img-kyvos-hero {
  width: 30vw;
  min-height: 30vh;
}

.colored-bkg-light {
  background-color: var(--color-main100);
}

.colored-bkg-dark {
  background-color: var(--color-main600);
}

.colored-border {
  border: 0.1rem solid var(--color-main500);
}

/* Icons */

.icon-xs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.8rem;
  height: 0.8rem;
}

.icon-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.1rem;
  height: 1.1rem;
}

.icon-md {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
}

.icon-lg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
}

.icon-style-colored {
  background-color: var(--color-main600);
  padding: 0.2rem;
}

.icon-style-outlined {
  border: 0.15rem solid var(--color-main600);
  padding: 0.2rem;
}

.icon-style-valid {
  background-color: var(--color-success300);
  padding: 0.2rem;
}

.icon-style-warning {
  background-color: var(--color-warning300);
  padding: 0.2rem;
}

.icon-style-error {
  background-color: var(--color-error300);
  padding: 0.2rem;
}

.sidebar-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-main600);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  z-index: 100;
  padding: 0.5rem;
}


.inside-icon-sidebar {
  position: absolute;
  display: none;
  left: 0;
  width: 18rem;
  height: 2rem;
  border-radius: 5rem;
  background-color: var(--color-main600);
  z-index: 99;
  padding: 0.5rem;
  white-space: nowrap;
  transition: left 0.3s ease-in-out;
}

.sidebar-icon:hover .inside-icon-sidebar,
.sidebar-input:focus+.inside-icon-sidebar,
.sidebar-icon:hover .sidebar-input {
  display: flex;
  justify-content: flex-end;
  border: none;
  border-bottom: 2px solid var(--color-text);
  outline: none;
  z-index: 1;
  opacity: 1;
}

/* containers */
header {
  display: flex;
  max-width: 100%;
  height: var(--header-height);
  background-color: var(--color-white);
  box-shadow: 0px 0px 2px var(--color-grey300);
  justify-content: space-between;
  z-index: 999;
  padding: 0rem 5rem;
  gap: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header .nav-block {
  min-width: 112px;
}

footer {
  display: flex;
  width: 100%;
  height: var(--footer-height);
  background-color: var(--color-white);
  box-shadow: 0px 0px 2px var(--color-grey300);
  justify-content: space-around;
  align-items: center;
  z-index: 99;
  gap: 1rem;
  position: relative;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  gap: 3rem;
}

page.inactive {
  display: none;
}

page.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
}

.page-bkg1 {
  background-image: url("../img/kyvos-emblem1.svg");
  background-position: -50px -100px;
}

.page-bkg2 {
  background-image: url("../img/kyvos-emblem2.svg");
}

.hero {
  display: flex;
  width: 100%;
  max-width: 100vw;
  height: calc(100vh - var(--footer-height));
  gap: 2rem;
  padding: 0rem;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr;
  grid-template-rows: auto;
  grid-template-areas: "content content";
  justify-items: center;
  align-items: start;
  gap: 1rem;
}

.grid-item50 {
  width: 50%;
  /* Set a fixed height for each item */
  overflow: auto;
  /* Allow scrolling when content exceeds the height */
}

.content {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

#heading-accueil {
  margin-top: 50px;
}

.supporting {
  color: var(--color-grey600);
  font-size: var(--txt-size-md);
  font-weight: 400;
  line-height: 1.2;
  padding: 10px;
}

#supporting-kyvos {
  max-width: 400px;
}

table {
  border-collapse: collapse;
  margin-top: 2rem;
}

thead {
  background-color: var(--color-white);
  color: var(--color-main600);
  font-weight: bold;
  text-align: center;
}

th,
td {
  padding: 0.5rem;
  vertical-align: middle;
  border: 1px solid var(--color-grey100);
  line-height: 1.5;
}

#dictionary-table th:first-child,
#dictionary-table td:first-child {
  width: 1%;
  white-space: nowrap;
  font-weight: bold;
  text-align: center;
}

#dictionary-table th:nth-child(2),
#dictionary-table td:nth-child(2),
#dictionary-table th:nth-child(4),
#dictionary-table td:nth-child(4) {
  font-weight: 500;
}

#dictionary-table th:nth-child(3),
#dictionary-table td:nth-child(3),
#dictionary-table th:nth-child(5),
#dictionary-table td:nth-child(5) {
  width: 37%;
  font-size: var(--txt-size-sm);
}


/* Popup */
#popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 990;
}

#popup-overlay.active {
  display: block;
}

.popup {
  display: none;
  position: fixed;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  overflow: auto;
  border: 1px solid var(--color-grey200);
  box-shadow: 0px 1px 2px var(--color-grey200);
  background-color: var(--color-white);
  border-radius: 0.3rem;
  overflow: auto;
  padding: 2rem;
}

.popup.active {
  display: flex;
}

.popup-content {
  max-width: 80vw;
  min-width: 40vw;
  max-height: 80vh;
  width: fit-content;
}

.close {
  color: var(--color-grey600);
  float: right;
  font-size: var(--txt-size-xxl);
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--color-main600);
  text-decoration: none;
  cursor: pointer;
}

sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 4rem;
  height: 100vh;
  background-color: var(--color-grey100);
  padding: 1rem;
  gap: 1rem;
}

/* class settings for navigation */
.nav-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  height: 100%;
  padding: 0px;
  z-index: 999;
  /* change z-index to 999 */
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 1;
}

/* Cards */
.card-white {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 1rem;
  box-shadow: 0rem 0rem 0.5rem var(--color-grey300);

  padding: 1.5rem 1rem;
  width: 25rem;
}

.card-grey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey50);
  border-radius: 1rem;
  box-shadow: 0rem 0rem 0.5rem var(--color-grey300);
  padding: 1.5rem 1rem;
  gap: 1rem;
  flex-wrap: no-wrap;
  max-width: 20vw;
  min-height: 30rem;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--color-grey100);
  width: 100%;
  margin: 1rem 0rem;
}

/* class settings for button */
.btn-nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 18px;
  font-weight: 600;
  font-size: var(--txt-size-md);
  color: var(--color-grey600);
  background-color: #ffffff00;
  /* transparent border to keep the height of the button */
  border-bottom: solid 1px #ffffff00;
  flex: none;
  height: 100%;
  cursor: pointer;
  z-index: -1;
}

.btn-nav::before,
.btn-nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0%;
  transition: width 0.3s ease-out;
  background-color: var(--color-main700);
}

.btn-nav::before {
  left: 0;
}

.btn-nav::after {
  right: 0;
}

.btn-nav:hover::before,
.btn-nav:hover::after,
.btn-nav.selected::after {
  width: 50%;
}

.btn-nav:hover {
  color: var(--color-main700);
  background-color: #e38b550a;
  text-decoration: none;
}

.btn-nav.selected {
  color: var(--color-main700);
}

.btn-nav.selected::before {
  width: 50%;
}

.btn-nav.disabled {
  color: var(--color-grey200);
  cursor: not-allowed;
}

.btn-nav.disabled:hover {
  background-color: var(--color-grey200);
  color: var(--color-white);
}

.btn-nav.disabled::before,
.btn-nav.disabled::after {
  display: none;
}

.btn-text {
  display: flex;
  font-size: var(--txt-size-sm);
  font-weight: 600;
  background-color: #ffffff00;
  border: solid 1px var(--color-main700);
  border-radius: 10px;
  color: var(--color-main700);
  align-items: center;
  padding: 8px 14px;
  gap: 8px;
}

.btn-text:hover {
  background-color: var(--color-main100);
  color: var(--color-main700);
}

.btn-primary {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: var(--color-white);
  background-color: var(--color-main600);
  border-radius: 1rem;
  white-space: nowrap;
  cursor: pointer;
  gap: 0.5rem;
}

.btn-primary:disabled {
  color: var(--color-grey300);
  cursor: not-allowed;
}

.btn-primary:hover {
  background-color: var(--color-main700);
  color: white;
  text-decoration: none;
}

.btn-secondary {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.7rem;
  color: var(--color-main600);
  border: solid 0.13rem var(--color-main600);
  border-radius: 2rem;
  gap: 0.5rem;
  font-weight: 500;
}

.btn-secondary img,
.btn-secondary .icon path {
  stroke: var(--color-main600);
}

.btn-secondary:hover img,
.btn-secondary:hover .icon path {
  stroke: white;
}

.btn-secondary:hover {
  border: solid 0.13rem var(--color-main600);
  color: var(--color-main600);
  text-decoration: none;
  animation: swap-colors 0.3s ease-in-out forwards;
  background-size: 0%;
}

@keyframes swap-colors {
  0% {
    background-color: var(--color-white);
    color: var(--color-main600);
    background-size: 0%;
  }

  100% {
    background-color: var(--color-main600);
    color: var(--color-white);
    background-size: 100%;
  }
}

.btn-full {
  color: var(--color-white);
  background-color: var(--color-main600);
}

.btn-full:hover {
  background-color: var(--color-main700);
  color: var(--color-white);
  border: solid 0.13rem var(--color-main700);
  text-decoration: none;
}

#btnToTop {
  display: none;
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  z-index: 9999;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding: 1rem;
}

/* class settings for badges */
.badge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 20px;
  border: solid 0.15rem var(--color-main600);
  padding: 0.3rem 0.5rem;
  color: var(--color-main600);
  gap: 0.3rem;
  width: -moz-fit-content;
  width: fit-content;
}

.animation-top {
  animation: slide-top 0.5s ease-in-out;
}

.animation-top-reverse {
  animation: slide-top-reverse 0.5s ease-in-out;
}

@keyframes slide-top {
  from {
    opacity: 0;
    height: 0px;
    background-opacity: 0%;
  }

  to {
    opacity: 1;
    height: 100%;
    background-opacity: 100%;
  }
}

@keyframes slide-top-reverse {
  from {
    opacity: 1;
    height: 100%;
  }

  to {
    opacity: 0;
    height: 0%;
  }
}

z-index99 {
  z-index: 99;
}



/* Set variables whatever the screen size */

a {
  color: var(--color-main500);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--color-main600);
  text-decoration: underline;
}

a:focus {}

button {
  background-color: #ffffff00;
  border: none;
}

/* class settings for text */
.txt-xs {
  font-size: var(--txt-size-xs);
}

.txt-sm {
  font-size: var(--txt-size-sm);
}

.txt-md {
  font-size: var(--txt-size-md);
}

.txt-lg {
  font-size: var(--txt-size-lg);
}

.txt-xl {
  font-size: var(--txt-size-xl);
}

.txt-xxl {
  font-size: var(--txt-size-xxl);
}

/* class settings for display */
.display-xs {
  font-size: var(--display-size-xs);
}

.display-sm {
  font-size: var(--display-size-sm);
}

.display-md {
  font-size: var(--display-size-md);
}

.display-lg {
  font-size: var(--display-size-lg);
}

.display-xl {
  font-size: var(--display-size-xl);
}

.display-xxl {
  font-size: var(--display-size-xxl);
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-justify {
  text-align: justify;
}

/* class settings for font weight */
.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-900 {
  font-weight: 900;
}

/* class settings for font style */

.font-style-italic {
  font-style: italic;
}

.font-style-normal {
  font-style: normal;
}

/* class settings for font family */

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-circular {
  font-family: "Circular", sans-serif;
}

/* class for states */
.flex {
  display: flex;
}

.active {
  display: flex;
}

.inactive {
  display: none;
}

/* positioning classes */
.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.top {
  align-items: flex-start;
}

.bottom {
  align-items: flex-end;
}

.center {
  justify-content: center;
  align-items: center;
}

.center-v {
  align-items: center;
}

.center-h {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

.left {
  justify-content: flex-start;
}

.allpage {
  height: 100vh;
  width: 100vw;
}

.tall {
  height: 100%;
}

.high {
  height: 90vh;
}

.wide {
  width: 100%;
}

.large {
  max-width: 80vw;
}

.half-content-width {
  width: 50%;
}

.half-content-height {
  height: 50%;
}

.no-padding {
  padding: 0px;
  gap: 1rem;
}

.padding-top-sm {
  padding-top: var(--padding-sm);
}

.padding-top-md {
  padding-top: var(--padding-md);
}

.padding-top-lg {
  padding-top: var(--padding-lg);
}

.padding-top-xl {
  padding-top: var(--padding-xl);
}

.padding-top-xxl {
  padding-top: var(--padding-xxl);
}

.padding-bot-sm {
  padding-bottom: var(--padding-sm);
}

.padding-bot-md {
  padding-bottom: var(--padding-md);
}

.padding-bot-lg {
  padding-bottom: var(--padding-lg);
}

.padding-bot-xl {
  padding-bottom: var(--padding-xl);
}

.padding-bot-xxl {
  padding-bottom: var(--padding-xxl);
}

.padding-left-sm {
  padding-left: var(--padding-sm);
}

.padding-left-md {
  padding-left: var(--padding-md);
}

.padding-left-lg {
  padding-left: var(--padding-lg);
}

.padding-left-xl {
  padding-left: var(--padding-xl);
}

.padding-left-xxl {
  padding-left: var(--padding-xxl);
}

.padding-right-sm {
  padding-right: var(--padding-sm);
}

.padding-right-md {
  padding-right: var(--padding-md);
}

.padding-right-lg {
  padding-right: var(--padding-lg);
}

.padding-right-xl {
  padding-right: var(--padding-xl);
}

.padding-right-xxl {
  padding-right: var(--padding-xxl);
}

.padding-x-sm {
  padding-left: var(--padding-sm);
  padding-right: var(--padding-sm);
}

.padding-x-md {
  padding-left: var(--padding-md);
  padding-right: var(--padding-md);
}

.padding-x-lg {
  padding-left: var(--padding-lg);
  padding-right: var(--padding-lg);
}

.padding-x-xl {
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
}

.padding-x-xxl {
  padding-left: var(--padding-xxl);
  padding-right: var(--padding-xxl);
}

.padding-y-sm {
  padding-top: var(--padding-sm);
  padding-bottom: var(--padding-sm);
}

.padding-y-md {
  padding-top: var(--padding-md);
  padding-bottom: var(--padding-md);
}

.padding-y-lg {
  padding-top: var(--padding-lg);
  padding-bottom: var(--padding-lg);
}

.padding-y-xl {
  padding-top: var(--padding-xl);
  padding-bottom: var(--padding-xl);
}

.padding-y-xxl {
  padding-top: var(--padding-xxl);
  padding-bottom: var(--padding-xxl);
}

.padding-sm {
  padding: var(--padding-sm);
}

.padding-md {
  padding: var(--padding-md);
}

.padding-lg {
  padding: var(--padding-lg);
}

.padding-xl {
  padding: var(--padding-xl);
}

.padding-xxl {
  padding: var(--padding-xxl);
}

.no-gap {
  gap: 0;
}

.no-wrap {
  flex-wrap: nowrap;
  white-space: nowrap;
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.transform-x {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

.transform-y {
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
}

.round {
  border-radius: 100%;
}

/* Flex basis */
.flex25 {
  flex-basis: 25%;
  max-width: 25%;
}

.flex33 {
  flex-basis: 33.33%;
  max-width: 33.33%;
}

.flex50 {
  flex-basis: 50%;
  max-width: 50%;
}

.flex66 {
  flex-basis: 66.66%;
  max-width: 66.66%;
}

.flex75 {
  flex-basis: 75%;
  max-width: 75%;
}

.flex100 {
  flex-basis: 100%;
  max-width: 100%;
}

.wide-flex50 {
  flex-basis: 50%;
  max-width: 50%;
}

/* Class for Column management */
/* 1 Column */
.col1 {
  flex-basis: 1;
}

/* 20% Width Columns */
.col20 {
  max-width: calc(20vw - 1rem);
  margin-left: 1rem;
}

.col20:first-child {
  margin-left: 0;
}

/* 25% Width Columns */
.col25 {
  max-width: calc(25vw - 1rem);
  margin-left: 1rem;
}

.col25:first-child {
  margin-left: 0;
}

/* 33% Width Columns */
.col33 {
  max-width: calc(33.33vw - 1rem);
  margin-left: 1rem;
}

.col33:first-child {
  margin-left: 0;
}

/* 50% Width Columns */
.col50 {
  max-width: calc(50% - 1rem);
  margin-left: 1rem;
}

.col50:first-child {
  margin-left: 0;
}

/* 66% Width Columns */
.col66 {
  max-width: calc(66.66vw - 1rem);
  margin-left: 1rem;
}

.col66:first-child {
  margin-left: 0;
}

/* 75% Width Columns */
.col75 {
  max-width: calc(75vw - 1rem);
  margin-left: 1rem;
}

.col75:first-child {
  margin-left: 0;
}

/* 100% Width Columns */
.col100 {
  max-width: 100%;
}

.gap-xs {
  gap: 0.2rem;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-md {
  gap: 1rem;
}

.gap-lg {
  gap: 2rem;
}

.gap-xl {
  gap: 5rem;
}

.gap-xxl {
  gap: 10rem;
}

.rounded-corner {
  border-radius: 0.2rem;
}

/* Style for wide screen */
@media (min-width: 756px) {

  .header {
    padding: 0rem 5rem;
    max-width: 100vw;
  }

  .container {
    display: flex;
    gap: 2rem;
    max-width: 100vw;
  }

  .card-grey {
    min-width: 30vw;
    max-width: 50vw;
    ;
  }

  .wide-half-content {
    max-width: 40vw;
  }

  .wide-left {
    text-align: start;
    justify-content: start;
    align-items: start;
  }

  .mobile-only {
    display: none;
  }
}

/* Style for mobile */
@media (max-width: 755px) {

  page {
    gap: 5rem;
  }

  header {
    padding: 0rem 2rem;
  }

  .container {
    display: flex;
    width: 100vw;
  }

  content {
    display: flex;
    padding: 2rem;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: none;
    gap: 1rem;
  }

  .hero {
    gap: 2rem;
  }

  .card-white {
    max-width: 80vw;
  }

  .card-grey {
    max-width: 100%;
  }


  nav {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 100%;
    height: var(--header-height);
    text-align: center;
    z-index: 999;
    background-color: var(--color-white);
    transition: right 0.3s ease-in-out;
  }

  nav.open {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: var(--header-height);
    right: 0;
    width: 100%;
    background-color: var(--color-white);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    z-index: 999;
    height: var(--header-height);
  }

  header .nav-block {
    min-width: 50px;
  }

  .wide-flex50 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .mob-no-padding {
    padding: 0;
  }

  .mob-center {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .mob-txt-left {
    text-align: left;
  }

  .no-mobile {
    display: none;
  }

  .mobile.only {
    display: block;
  }
}