/* Universal styles */
:root {
  --txt-size-xs: 0.75rem;
  --txt-size-sm: 0.875rem;
  --txt-size-md: 1rem;
  --txt-size-lg: 1.125rem;
  --txt-size-xl: 1.25rem;
  --txt-size-xxl: 1.375rem;
  --display-size-xs: 1.5rem;
  --display-size-sm: 1.75rem;
  --display-size-md: 2rem;
  --display-size-lg: 2.5rem;
  --display-size-xl: 3.5rem;
  --display-size-xxl: 4rem;

  --font-size: 1.6rem;
  --color-main25: #fffdfc;
  --color-main50: #fff9f8;
  --color-main100: #fff2e8;
  --color-main200: #ffe0c8;
  --color-main300: #f0c29d;
  --color-main400: #e3a979;
  --color-main500: #eb9b69;
  --color-main600: #e38c55;
  --color-main700: #ed7752;
  --color-main800: #cb5d39;
  --color-main900: #c03b0f;
  --text-color: #252628;
  --color-success25: #f6fef9;
  --color-success50: #ecfdf3;
  --color-success100: #d1fadf;
  --color-success200: #a7f5bf;
  --color-success300: #6eef9c;
  --color-success400: #3de97b;
  --color-success500: #1de66b;
  --color-success600: #00d95f;
  --color-success700: #00c14f;
  --color-success800: #00a73f;
  --color-success900: #008c2e;
  --color-error25: #fff6f6;
  --color-error50: #fff0f0;
  --color-error100: #ffe3e3;
  --color-error200: #ffc7c7;
  --color-error300: #ff9b9b;
  --color-error400: #ff6e6e;
  --color-error500: #ff4d4d;
  --color-error600: #ff2e2e;
  --color-error700: #ff0f0f;
  --color-error800: #e60000;
  --color-error900: #c40000;
  --color-warning25: #fffdf6;
  --color-warning50: #fffbef;
  --color-warning100: #fff7de;
  --color-warning200: #fff0bd;
  --color-warning300: #ffe79c;
  --color-warning400: #ffd97b;
  --color-warning500: #ffc95b;
  --color-warning600: #ffb93a;
  --color-warning700: #ffa91a;
  --color-warning800: #ff9800;
  --color-warning900: #e68400;
  --color-info25: #f6f9ff;
  --color-info50: #edf3ff;
  --color-info100: #dde8ff;
  --color-info200: #bdd0ff;
  --color-info300: #9cb8ff;
  --color-info400: #7ca0ff;
  --color-info500: #5c88ff;
  --color-info600: #3d70ff;
  --color-info700: #1e58ff;
  --color-info800: #0040ff;
  --color-info900: #0026e6;
  --color-grey25: #FCFCFD;
  --color-grey50: #F9FAFB;
  --color-grey100: #F2F4F7;
  --color-grey200: #EAECF0;
  --color-grey300: #D0D5DD;
  --color-grey400: #98A2B3;
  --color-grey500: #667085;
  --color-grey600: #475467;
  --color-grey700: #344054;
  --color-grey800: #1D2939;
  --color-grey900: #101828;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: #ffffff00;
  --color-shadow: #0000001a;
  --color-shadow-dark: #00000033;
  --color-shadow-darker: #0000004d;
  --color-shadow-darkest: #00000066;
  --color-shadow-light: #0000000d;
  --color-shadow-lighter: #0000001a;
  --color-shadow-lightest: #00000033;
  --color-shadow-white: #ffffff1a;

  --header-height: 5rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  max-width: 100vw;
  gap: 0px;
}

/*set the font family for the title*/
h1 {
  font-size: var(--display-size-xl);
  font-weight: 500;
}

/*set the font family for the heading*/
h2 {
  font-family: "Circular", sans-serif;
  font-size: var(--display-size-lg);
  font-weight: 600;
}

h3 {
  font-family: "Circular", sans-serif;
  font-size: var(--display-size-md);
  font-weight: 600;
}

h4 {
  font-family: "Circular", sans-serif;
  font-size: var(--txt-display-sm);
  font-weight: 600;
}

h5 {
  font-family: "Circular", sans-serif;
  font-size: var(--txt-size-sm);
  font-weight: 600;
}

h6 {
  font-family: "Circular", sans-serif;
  font-size: var(--txt-size-xl);
  font-weight: 600;
  color: var(--color-main700);
  padding: 0px;
}

p {
  font-size: var(--txt-size-md);
  line-height: 30px;
  padding: 0px;
}

/* Form, input and labels */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

label {
  display: flex;
  font-size: var(--txt-size-sm);
  font-weight: 500;
  color: var(--color-grey600);
  text-align: left;
  width: 100%;
  padding-top: 0.8rem;
  padding-bottom: 0.2rem;
}

input,
textarea {
  display: flex;
  padding: 0.6rem;
  border: 0.1rem solid var(--color-grey200);
  border-radius: 0.5rem;
  font-size: var(--txt-size-sm);
  color: var(--color-grey700);
  background-color: var(--color-white);
  box-shadow: 0px 1px 2px var(--color-grey200);
  min-width: 15rem;
  max-width: 100%;
  align-self: flex-start;
}

textarea {
  height: 8rem;
  width: 90%;
}

input::placeholder {
  color: var(--color-grey200);
}

.input-description {
  display: none;
  font-size: var(--txt-size-xs);
  line-height: 1rem;
  font-weight: 100;
  color: var(--color-grey400);
  text-align: left;
  padding: 0rem 0rem;
  flex-wrap: wrap;
  text-align: left;
}

.input-description::before {
  content: "⚠";
  color: var(--color-main600);
  margin-right: 0.2rem;
}

textarea:focus-visible,
input:focus-visible {
  outline: none;
  border: 0.1rem solid var(--color-main500);
}

input:invalid+.input-description {
  display: block;
}

input:valid+.input-description {
  display: none;
}

label[required]:after {
  content: "*";
}

label[required]+input[required]:invalid:after {
  color: var(--color-error500);
}

/* Images */
#img-accueil {
  width: 100%;
}

#img-kyvos-hero {
  min-width: 50vw;
  height: 50vh;
}

.colored-bkg {
  background-color: var(--color-main400);
  color: var(--color-white);
}

/* Icons */

.icon-xs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.8rem;
  height: 0.8rem;
  padding: 0.1rem;
}

.icon-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.1rem;
  height: 1.1rem;
  padding: 0.1rem;
}

.icon-md {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.21rem;
}

.icon-lg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.4rem;
}

.icon-style-colored {
  background-color: var(--color-main600);
}

.icon-style-outlined {
  border: 0.15rem solid var(--color-main600);
}

.icon-style-valid {
  background-color: var(--color-success500);
}

.icon-style-warning {
  background-color: var(--color-warning500);
}

.icon-style-error {
  background-color: var(--color-error500);
}

.sidebar-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-main600);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  z-index: 100;
  padding: 0.5rem;
}


.inside-icon-sidebar {
  position: absolute;
  display: none;
  left: 0;
  width: 18rem;
  height: 2rem;
  border-radius: 5rem;
  background-color: var(--color-main600);
  z-index: 99;
  padding: 0.5rem;
  white-space: nowrap;
  transition: left 0.3s ease-in-out;
}

.sidebar-icon:hover .inside-icon-sidebar,
.sidebar-input:focus+.inside-icon-sidebar,
.sidebar-icon:hover .sidebar-input {
  display: flex;
  justify-content: flex-end;
  border: none;
  border-bottom: 2px solid var(--color-text);
  outline: none;
  z-index: 1;
  opacity: 1;
}

/* containers */
header {
  display: flex;
  max-width: 100vw;
  height: var(--header-height);
  background-color: var(--color-white);
  box-shadow: 0px 0px 2px var(--color-grey300);
  justify-content: space-between;
  z-index: 999;
  padding: 0rem 5rem;
  gap: 1rem;
  position: relative;
}

header .nav-block {
  min-width: 112px;
}

footer {
  display: flex;
  max-width: 100vw;
  height: var(--footer-height);
  background-color: var(--color-white);
  box-shadow: 0px 0px 2px var(--color-grey300);
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  gap: 1rem;
  position: relative;
}

page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  max-width: 100vw;
  gap: 5rem;
}

page.inactive {
  display: none;
}

page.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 99vw;
}

.hero {
  display: flex;
  width: 100%;
  height: calc(100vh - var(--header-height));
  gap: 5rem;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "content content";
  gap: 1rem;
}

.content {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

#heading-accueil {
  margin-top: 50px;
}

.supporting {
  color: var(--color-grey600);
  font-size: var(--txt-size-md);
  font-weight: 400;
  line-height: 1.2;
  padding: 10px;
}

#supporting-kyvos {
  max-width: 400px;
}

table {
  border-collapse: collapse;
  margin-top: 2rem;
}

thead {
  background-color: var(--color-white);
  color: var(--color-main600);
  font-weight: bold;
  text-align: center;
}

th,
td {
  padding: 0.5rem;
  vertical-align: middle;
  border: 1px solid var(--color-grey100);
  line-height: 1.5;
}

#dictionary-table th:first-child,
#dictionary-table td:first-child {
  width: 1%;
  white-space: nowrap;
  font-weight: bold;
  text-align: center;
}

#dictionary-table th:nth-child(2),
#dictionary-table td:nth-child(2),
#dictionary-table th:nth-child(4),
#dictionary-table td:nth-child(4) {
  font-weight: 500;
}

#dictionary-table th:nth-child(3),
#dictionary-table td:nth-child(3),
#dictionary-table th:nth-child(5),
#dictionary-table td:nth-child(5) {
  width: 37%;
  font-size: var(--txt-size-sm);
}


/* Popup */
#popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 90;
}

#popup-overlay.active {
  display: block;
}

.popup {
  display: none;
  position: fixed;
  z-index: 99;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  max-width: 80vw;
  height: auto;
  overflow: auto;
  border: 1px solid var(--color-grey200);
  box-shadow: 0px 1px 2px var(--color-grey200);
  background-color: var(--color-white);
  border-radius: 0.5rem;
  overflow: auto;
  padding: 2rem;
}

.popup.active {
  display: flex;
}

.popup-content {
  width: auto;
}

.close {
  color: var(--color-grey600);
  float: right;
  font-size: var(--txt-size-xxl);
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--color-main600);
  text-decoration: none;
  cursor: pointer;
}

sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 4rem;
  height: 100vh;
  background-color: var(--color-grey100);
  padding: 1rem;
  gap: 1rem;
}

/* class settings for navigation */
.nav-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  height: 100%;
  padding: 0px;
  z-index: 999;
  /* change z-index to 999 */
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 1;
}

/* Cards */
.card-white {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 1rem;
  box-shadow: 0rem 0rem 0.5rem var(--color-grey300);
  padding: 1.5rem 1rem;
  gap: 1rem;
  flex-wrap: no-wrap;
}

.card-grey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey50);
  border-radius: 1rem;
  box-shadow: 0rem 0rem 0.5rem var(--color-grey300);
  padding: 1.5rem 1rem;
  gap: 1rem;
  flex-wrap: no-wrap;
  max-width: 20vw;
  min-height: 30rem;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--color-grey100);
  width: 100%;
  margin: 1rem 0rem;
}

/* class settings for button */
.btn-nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 18px;
  font-weight: 600;
  font-size: var(--txt-size-sm);
  color: var(--color-grey600);
  background-color: #ffffff00;
  /* transparent border to keep the height of the button */
  border-bottom: solid 1px #ffffff00;
  flex: none;
  height: 100%;
  cursor: pointer;
  z-index: -1;
}

.btn-nav::before,
.btn-nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0%;
  transition: width 0.3s ease-out;
  background-color: var(--color-main700);
}

.btn-nav::before {
  left: 0;
}

.btn-nav::after {
  right: 0;
}

.btn-nav:hover::before,
.btn-nav:hover::after,
.btn-nav.selected::after {
  width: 50%;
}

.btn-nav:hover {
  color: var(--color-main700);
  background-color: #e38b550a;
  text-decoration: none;
}

.btn-nav.selected {
  color: var(--color-main700);
}

.btn-nav.selected::before {
  width: 50%;
}

.btn-nav.disabled {
  color: var(--color-grey200);
  cursor: not-allowed;
}

.btn-nav.disabled:hover {
  background-color: var(--color-grey200);
  color: var(--color-white);
}

.btn-nav.disabled::before,
.btn-nav.disabled::after {
  display: none;
}

.btn-text {
  display: flex;
  font-size: var(--txt-size-sm);
  font-weight: 600;
  background-color: #ffffff00;
  border: solid 1px var(--color-main700);
  border-radius: 10px;
  color: var(--color-main700);
  align-items: center;
  padding: 8px 14px;
  gap: 8px;
}

.btn-text:hover {
  background-color: var(--color-main100);
  color: var(--color-main700);
}

.btn-primary {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: var(--color-white);
  background-color: var(--color-main600);
  border-radius: 1rem;
  white-space: nowrap;
  cursor: pointer;
  gap: 0.5rem;
}

.btn-primary:disabled {
  color: var(--color-grey300);
  cursor: not-allowed;
}

.btn-primary:hover {
  background-color: var(--color-main700);
  color: white;
  text-decoration: none;
}

.btn-secondary {
  display: flex;
  align-items: center;
  padding: 0.3rem 0.4rem;
  color: var(--color-main600);
  border: solid 0.13rem var(--color-main600);
  border-radius: 2rem;
  gap: 0.5rem;
}

.btn-secondary:hover {
  border: solid 0.13rem var(--color-main600);
  color: var(--color-main600);
  text-decoration: none;
}

.btn-full {
  color: var(--color-white);
  background-color: var(--color-main600);
}

.btn-full:hover {
  background-color: var(--color-main700);
  color: var(--color-white);
  border: solid 0.13rem var(--color-main700);
  text-decoration: none;
}

#btnToTop {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 99;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding: 1rem;
}

/* class settings for badges */
.badge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 20px;
  border: solid 0.15rem var(--color-main600);
  padding: 0.05rem 0.5rem;
  color: var(--color-main600);
  gap: 0.3rem;
  width: -moz-fit-content;
  width: fit-content;
}

/* Set variables whatever the screen size */

a {
  color: var(--color-main500);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--color-main600);
  text-decoration: underline;
}

a:focus {}

button {
  background-color: #ffffff00;
  border: none;
}

/* class settings for text */
.txt-xs {
  font-size: var(--txt-size-xs);
}

.txt-sm {
  font-size: var(--txt-size-sm);
}

.txt-md {
  font-size: var(--txt-size-md);
}

.txt-lg {
  font-size: var(--txt-size-lg);
}

.txt-xl {
  font-size: var(--txt-size-xl);
}

.txt-xxl {
  font-size: var(--txt-size-xxl);
}

/* class settings for display */
.display-xs {
  font-size: var(--display-size-xs);
}

.display-sm {
  font-size: var(--display-size-sm);
}

.display-md {
  font-size: var(--display-size-md);
}

.display-lg {
  font-size: var(--display-size-lg);
}

.display-xl {
  font-size: var(--display-size-xl);
}

.display-xxl {
  font-size: var(--display-size-xxl);
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-justify {
  text-align: justify;
}

/* class settings for font weight */
.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-900 {
  font-weight: 900;
}

/* class settings for font style */

.font-style-italic {
  font-style: italic;
}

.font-style-normal {
  font-style: normal;
}

/* class settings for font family */

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-circular {
  font-family: "Circular", sans-serif;
}

/* class for states */
.active {
  display: flex;
}

.inactive {
  display: none;
}

/* positioning classes */
.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.top {
  align-items: flex-start;
}

.bottom {
  align-items: flex-end;
}

.center {
  justify-content: center;
  align-items: center;
}

.center-v {
  align-items: center;
}

.center-h {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

.left {
  justify-content: flex-start;
}

.allpage {
  height: 100vh;
  width: 100vw;
}

.tall {
  height: 100%;
}

.high {
  height: 90vh;
}

.wide {
  width: 100%;
}

.large {
  max-width: 80vw;
}

.half-content-width {
  width: 50%;
}

.half-content-height {
  height: 50%;
}

.no-padding {
  display: flex;
  padding: 0px;
  gap: 1rem;
}

.no-gap {
  gap: 0px;
}

.no-wrap {
  flex-wrap: nowrap;
  white-space: nowrap;
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.round {
  border-radius: 50%;
}

/* Class for Column management */
/* 1 Column */
.col1 {
  flex-basis: 1;
}

/* 20% Width Columns */
.col20 {
  max-width: calc(20vw - 1rem);
  margin-left: 1rem;
}

.col20:first-child {
  margin-left: 0;
}

/* 25% Width Columns */
.col25 {
  max-width: calc(25vw - 1rem);
  margin-left: 1rem;
}

.col25:first-child {
  margin-left: 0;
}

/* 33% Width Columns */
.col33 {
  max-width: calc(33.33vw - 1rem);
  margin-left: 1rem;
}

.col33:first-child {
  margin-left: 0;
}

/* 50% Width Columns */
.col50 {
  max-width: calc(50vw - 1rem);
  margin-left: 1rem;
}

.col50:first-child {
  margin-left: 0;
}

/* 66% Width Columns */
.col66 {
  max-width: calc(66.66vw - 1rem);
  margin-left: 1rem;
}

.col66:first-child {
  margin-left: 0;
}

/* 75% Width Columns */
.col75 {
  max-width: calc(75vw - 1rem);
  margin-left: 1rem;
}

.col75:first-child {
  margin-left: 0;
}

/* 100% Width Columns */
.col100 {
  max-width: 100%;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-md {
  gap: 1rem;
}

.gap-lg {
  gap: 2rem;
}

.gap-xl {
  gap: 5rem;
}

.gap-xxl {
  gap: 10rem;
}

.rounded-corner {
  border-radius: 1rem;
}

/* Style for wide screen */
@media (min-width: 1024px) {

  .header {
    padding: 0rem 5rem;
    max-width: 100vw;
  }

  .container {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    max-width: 100vw;
  }

  .card-grey {
    min-width: 30vw;
    max-width: 50vw;
    ;
  }

  .mobile-only {
    display: none;
  }
}

/* Style for mobile */
@media (max-width: 1023px) {

  .container {
    display: flex;
    padding: 0.2rem;
    max-width: 100vw;
  }

  content {
    display: flex;
    padding: 0.2rem;
  }

  .card-grey {
    max-width: 100%;
  }


  nav {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 100%;
    height: var(--header-height);
    text-align: center;
    z-index: 999;
    background-color: var(--color-white);
    transition: right 0.3s ease-in-out;
  }

  nav.open {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: var(--header-height);
    right: 0;
    width: 100%;
    background-color: var(--color-white);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    z-index: 999;
    height: var(--header-height);
  }

  header .nav-block {
    min-width: 50px;
  }

  .no-mobile {
    display: none;
  }

  .mobile.only {
    display: block;
  }
}